<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="scripts/main.js"></script>
    <title><%= title %></title>
  </head>
  <body>
    <div id="head">
        <h1>Miss Ertel Makes Learning Times and Divides Fun!</h1>
        <div id="operation-selector">
            <label for="mult">
              <input type="checkbox" name="mult" id="mult" value="mult"/>
              <span>Work on Muliplication<span>
            </label>
            <label for="div">
              <input type="checkbox" name="div" id="div" value="div"/>
              <span>Work on Division<span>
            </label>
        </div>
    </div>