<div class="container" id="sidebar">
    <h2>Choose numbers to study</h2>
    <h3>(hint: double click any number to select ALL above)</h3>
    <div class="col-left">
        <label for="num5">
          <input class="num-options" type="checkbox" name="num" id="num5" value="5"/>
          <span class="num-display">5</span>
        </label>
        <label for="num2">
          <input class="num-options" type="checkbox" name="num" id="num2" value="2"/>
          <span class="num-display">2</span>
        </label>
        <label for="num10">
          <input class="num-options" type="checkbox" name="num" id="num10" value="10"/>
          <span class="num-display">10<span>
        </label>
        <label for="num9">
          <input class="num-options" type="checkbox" name="num" id="num9" value="9"/>
          <span class="num-display">9</span>
        </label>
        <label for="num3">
          <input class="num-options" type="checkbox" name="num" id="num3" value="3"/>
          <span class="num-display">3</span>
        </label>
        <label for="num4">
          <input class="num-options" type="checkbox" name="num" id="num4" value="4"/>
          <span class="num-display">4<span>
        </label>
        <label for="num1">
          <input class="num-options" type="checkbox" name="num" id="num1" value="1"/>
          <span class="num-display">1</span>
        </label>
        <label for="num0">
          <input class="num-options" type="checkbox" name="num" id="num0" value="0"/>
          <span class="num-display">0</span>
        </label>
        <label for="num6">
          <input class="num-options" type="checkbox" name="num" id="num6" value="6"/>
          <span class="num-display">6<span>
        </label>
        <label for="num8">
          <input class="num-options" type="checkbox" name="num" id="num8" value="8"/>
          <span class="num-display">8</span>
        </label>
        <label for="num7">
          <input class="num-options" type="checkbox" name="num" id="num7" value="7"/>
          <span class="num-display">7</span>
        </label>
        <label for="num11">
          <input class="num-options" type="checkbox" name="num" id="num11" value="11"/>
          <span class="num-display">11<span>
        </label>
        <label for="num12">
          <input class="num-options" type="checkbox" name="num" id="num12" value="12"/>
          <span class="num-display">12<span>
        </label>
    </div>   
</div>